# Python programming exampeles

https://www.geeksforgeeks.org/python-programming-examples/

## Cumulative sum of a list

In [22]:
#Input : list = [10, 20, 30, 40, 50]
#Output : [10, 30, 60, 100, 150]

a = [10, 20, 30, 40, 50]
import numpy as np
list(np.cumsum(a))

[10, 30, 60, 100, 150]

In [20]:
import itertools
list(itertools.accumulate(a))

[10, 30, 60, 100, 150]

## Get missing number in series.

In [21]:
A=[1,2,4,5,7,8,10]
[n for n in range(min(A),max(A)) if n not in A]

[3, 6, 9]

## Count Even and Odd numbers in a List

In [28]:
# Input: list1 = [2, 7, 5, 64, 14]
# Output: Even = 3, odd = 2

a = [2, 7, 5, 64, 14]
   
len([n for n in a if n % 2 == 1]),  len([n for n in a if n % 2 == 0])

(2, 3)

# Predict Outputs

In [1]:
from random import shuffle
a = ['a','b','c']
shuffle(a)
a

['a', 'b', 'c']

In [2]:
# predict output
a = [6,5,4,3]
for a[-1] in a:
    print (a[-1])

6
5
4
4

In [3]:
# predict output
a = [print(i) for i in 'string' if i not in "aeiou"]
print(a)

s
t
r
n
g
[None, None, None, None, None]

In [4]:
# predict output
x = ['ab', 'cd']
list(map(list, x))

[['a', 'b'], ['c', 'd']]

In [5]:
# produce the output start from 1
[2**n for n in range(8)]

[1, 2, 4, 8, 16, 32, 64, 128]

In [6]:
# produce the output
[2**n for n in range(1,8) ]

[2, 4, 8, 16, 32, 64, 128]

In [7]:
# produce the output
[n*n for n in range(1,8) ]

[1, 4, 9, 16, 25, 36, 49]

In [8]:
# list comprehension inside a function does not need []
sum(i**2 for i in range(5))

30

## How would you merge two sorted lists?

In [25]:
# Way 1
l1 = [1, 5, 6, 9, 11] 
l2 = [3, 4, 7, 8, 10]
sorted(l1 + l2)

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [26]:
# Way 2 using heapq
from heapq import merge
list(merge(l1, l2))

[1, 3, 4, 5, 6, 7, 8, 9, 10, 11]

## Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 1 and 100 (both included).

In [30]:
l=[]
for i in range(1, 101):
    if (i%7==0) and (i%5!=0):
        l.append(str(i))
print(','.join(l))

7,14,21,28,42,49,56,63,77,84,91,98

In [36]:
# using list comprehension
[x for x in range(1,101) if (x%7==0) and (x%5!=0)]

[7, 14, 21, 28, 42, 49, 56, 63, 77, 84, 91, 98]

## write a program to print the list after removing delete numbers which are divisible by 5 and 7 in [12,24,35,70,88,120,155].

In [28]:
li = [12,24,35,70,88,120,155]
[x for x in li if x%5!=0 and x%7!=0]

[12, 24, 88]

## Using list comprehension, write a program to print the list after removing the 0th,4th,5th numbers in [12,24,35,70,88,120,155]._

In [27]:
li = [12,24,35,70,88,120,155]
[x for (i,x) in enumerate(li) if i not in (0,4,5)]

[24, 35, 70, 155]

## write a program to print the list after removing delete even numbers in [5,6,77,45,22,12,24].

In [26]:
li = [5,6,77,45,22,12,24]
[x for x in li if x%2!=0]

[5, 77, 45]

## print the odd numbers between 0 and 10.

In [2]:
[n for n in range(0,11) if n%2]

[1, 3, 5, 7, 9]

## Reverse the list

In [3]:
# Way 1
li = [22, 84, 76, 28, 20, 0]
li[::-1]

[0, 20, 28, 76, 84, 22]

In [6]:
# Way 2
[n for n in reversed(li)]

[0, 20, 28, 76, 84, 22]

In [9]:
# Way 3
li.reverse() # it returns the original reversed list
li

[0, 20, 28, 76, 84, 22]

# Dict Comprehension

__Q With a given integral number n, write a program to generate a dictionary that contains (i, i*i) such that is an integral number between 1 and n (both included). and then the program should print the dictionary.__

In [8]:
d={}
for i in range(1,11):
    d[i]=i*i

d

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [14]:
# using dict comprehension

{i:i*i for i in range(1,11)}

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100}

In [18]:
# dict comprehension
{str(i):i*i for i in range(1,11)}

{'1': 1,
 '2': 4,
 '3': 9,
 '4': 16,
 '5': 25,
 '6': 36,
 '7': 49,
 '8': 64,
 '9': 81,
 '10': 100}

In [12]:
# Sum all the items in a dictionary
sum(d.values())

385

# Others

__Q write a program which prints all permutations of [1,2,3]?__

In [21]:
import itertools
print (list(itertools.permutations([1,2,3])))

[(1, 2, 3), (1, 3, 2), (2, 1, 3), (2, 3, 1), (3, 1, 2), (3, 2, 1)]

In [15]:
# What wll be the output 
def Foo(): 
    yield 42
    return 666

In [18]:
a = Foo()
next(a)

42